:root {
  --primary-color: rgba(253, 253, 253, 0.75);
  --overlay-color: rgba(131, 138, 141, 0.85);
  --menu-speed: 0.75s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Code Pro", monospace;
  line-height: 1.4;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
  color: #292929;
}

.showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 70vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url("../img/software-source-code-layers-program-code-black-background-software-source-code-layers-program-code-black-background-d-137906111.jpeg ") no-repeat center center/cover;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.skills {
  padding-top: 15%;
}

.showcase p {
  font-size: 1.3rem;
  color: #292929;
  background-color: #fff;
  z-index: -1;
  margin-top: 5%;
}

.about_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20%;
}

/* Code logos for skills page 

.code-icon {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    transform: translate(-53 -50%);
}
*/
.html {
  list-style: none;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #828c87;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.html:hover {
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

/*
.firstname {
    color: #81b214;
}

.lastname {
    color: #ff005c;
}

/*.btn {
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 5rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}


.btn:hover {
    opacity: 0.7;
}
*/
/* Social media buttons with links to profiles */
@media only screen and (min-width: 300px) {
  .social-media {
    background-color: var(--primary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 85%;
    left: 15%;
    -webkit-transform: translate(-53 -50%);
            transform: translate(-53 -50%);
  }
}

@media only screen and (min-width: 300px) {
  .fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 50px;
    padding: 20px 20px;
    color: #828c87;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.fab:hover {
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

/* Copyright footer at bottom of page */
@media only screen and (min-width: 300px) {
  .copyright {
    background-color: var(--primary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */