@import "partials/about";
@import "partials/skills";
@import "partials/projects";
@import "partials/blog";
$font-stack: 'Source Code Pro', monospace;

:root {
    --primary-color: rgba(255, 255, 255, 0.75);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    font-family: $font-stack;
    line-height: 1.4;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    float: left;
    display: block;
    margin-left: 7%;
    margin-top: 2%;
    color: #292929;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: rgb(180, 180, 180);
    display: block;
    position: absolute;
    right: 100;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: rgb(138, 0, 0);
    transition: .5s;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .topnav a.active {
    background-color: #adadad;
    color: white;
  }

 /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
    transition: 1.7s;
  } 

/* Middle section of webpage where primary content is held 
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
    color: #292929;
} */

/* Main name text */
.main-logo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 40px;
    color: #828c87;
}

.main-logo:hover {
    color: rgb(138, 0, 0);
    transition: 0.7s;
}

.main-image {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.about-photo {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.about-logo {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.about-logo:hover {
  color: rgb(138, 0, 0);
  transition: 0.7s;
}

.skills-logo {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 2%;

}

.skills-icons {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 10%;
}

/* Code logos for skills page 

.code-icon {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    transform: translate(-53 -50%);
}
*/

/* Social media buttons with links to profiles */

@media only screen and (min-width: 300px) {
.social-media {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    transform: translate(-53 -50%);
    }
}

@media only screen and (min-width: 300px) {
.fab {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    padding: 20px 20px;
    color: #828c87;
    transition: .5s;
    }
}


.fab:hover {
    color: rgb(138, 0, 0);
    transition: .5s;
}

/* Copyright footer at bottom of page */

.copyright {
    font-family: $font-stack;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 3%;

}