html {
  font-size: 100%;
  line-height: 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  max-width: 1400px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Style the navigation menu */
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: .5rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  background-color: #cacaca;
}

.nav-menu {
  text-transform: none;
}

/* Style navigation menu */
.nav-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  font-size: 70%;
}

/* Style navigation menu links */
.nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  text-align: center;
}

.nav-menu a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
}

.nav-menu a {
  color: rgba(109, 107, 107, 0.75);
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.nav-menu a:hover {
  background-color: #8a0000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-menu a:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (min-width: 600px) {
  .header-nav {
    line-height: 1.5rem;
  }
  .nav-menu {
    width: 100%;
  }
  .nav-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 10%;
            flex: 1 0 10%;
  }
}

/* Middle section of webpage where primary content is held 
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
    color: #292929;
} */
/* Main name text */
.main-logo {
  font-size: 20px;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15%;
  padding: 1%;
  color: #000000;
}

.main-logo:hover {
  color: #8a0000;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

/*@media screen and (min-width:$phone) {
  .main-logo {
   
  }
}*/
.main-sub {
  font-size: 15px;
  width: 65%;
  margin-left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #828c87;
}

.main-sub:hover {
  color: #8a0000;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.main-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.about-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2%;
}

.about-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.about-logo:hover {
  color: #8a0000;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.skills-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  padding-top: 2%;
}

.skills-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding-top: 10%;
}

/* Social media buttons with links to profiles */
.fab {
  text-decoration: none;
  font-size: 30px;
  padding: 15px 15px;
  margin-left: 10%;
  color: #828c87;
}

.fab:hover {
  color: #8a0000;
  -webkit-transition: .5s;
  transition: .5s;
}

/* Social media buttons with links to profiles */
.social-media {
  padding-top: 5%;
  -webkit-transform: translate(-53 -50%);
          transform: translate(-53 -50%);
}

/* Copyright footer at bottom of page */
.copyright {
  font-family: "Source Code Pro", monospace;
  font-size: 15%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*@include sidebar-desktop-setup(#e3e3e3, #1f1f1f); */
/* @MEDIA SECTION */
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*@media screen and (max-width: 900px) {
  @include sidebar-desktop-setup(#e3e3e3, #1f1f1f, 300px);
}

@media screen and (min-width: 300px) {
  @include sidebar-desktop-setup(#e3e3e3, #1f1f1f, 250px);
} */
/*# sourceMappingURL=style.css.map */